<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brewery</title>
</head>
<body>
    <h1 data-th-text="${brewery}"></h1>

    <a href="javascript:history.back()">Back</a>


    <div data-th-if="${brewery!=null}">
        <table>
            <tbody>
                <tr>
                    <td >
                        <span data-th-text="*{description}"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <table border="1">
            <thead>
                <tr>
                    <th>Beer Name</th>
                    <th>Description</th>
                    <th>Brewery Name</th>
                </tr>
            </thead>
            <tbody>
                <tr data-th-each="b: ${beers}" data-th-object="${b}">
                    <td>
                        <span data-th-text="*{beerName}"></span> 
                    </td>
                    <td>
                        <span data-th-text="*{beerDescription}"></span> 
                    </td>
                    <td>
                        <a data-th-href="@{/brewery/{id}}">
                            <span data-th-text="*{breweryName}"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div data-th-unless="brewery!=null">
        <span>Brewery not found</span>
</div>
</body>
</html>