<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breweries</title>
</head>
<body>
    <body>

		<h1 data-th-text="${style}"></h1>

        <a href="javascript:history.back()">Back</a>
        <div data-th-if="${beers.size()>0}">
            <table border="1">
                <thead>
                    <tr>
                        <th>Beer Name</th>
                        <th>Description</th>
                        <th>Brewery Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-th-each="b: ${beers}" data-th-object="${b}">
                        <td>
                            <span data-th-text="*{beerName}"></span> 
                        </td>
                        <td>
                            <span data-th-text="*{beerDescription}"></span> 
                        </td>
                        <td>
                            <a data-th-href="@{/brewery/{id}}">
                                <span data-th-text="*{breweryName}"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div data-th-unless="${beers.size()>0}">
            <span>No beers found for this style</span>
        </div>
	</body>
</body>
</html>